#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :type :kaocha.type/cljs
          :cljs/timeout 10000
          :cljs/compiler-options {}
          :cljs/repl-env shadow.cljs.devtools.api/node-repl-env
          :kaocha.type.shadow/build :test}]

 :plugins [:kaocha.plugin/profiling]
 :color? true
 :watch? true
 :fail-fast? false
 :randomize? false}
